body {font-family: Lato;}
body {background-color: lightgray;border: 4px solid; padding: 10px;line-height: 150%}
h1 {text-align:center;margin:}
body header#banner, 
footer {background-color: turquoise;padding: 40px;}
body {background-color: white;border: 4px solid; padding: 10px;line-height: 150%}
header h1 {text-align:center;margin:}
header h2 {text-align:center; margin:}
a {color: red; text-decoration: none;}
nav li {display:inline-block;list-style-type: none;margin-right: 20px;}
ul{text-align: center;}