h1 {
	color:#336600; font-family:Optima; letter-spacing:0.0625; font-variant:bolder;
}
body > header 
ul {
list-style-type:none;
margin: 0;
padding:0;
overflow:hidden;
}
li
{
float:left;
}
nav a:link,a:visited 
{
display:block;
width:120px;
font-weight:bold;
font-size:smaller;
color:#F1F1F1;
background-color:#336600;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
nav a:hover,a:active
{
background-color:#7A991A;
}

h2,h3,h4 {
	color:black; font-family:Optima; 
}

a:link {text-decoration:none;
color:#336600;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

body {
	font-family:"New Times Roman"; font-size:em0.9;
	margin:15px;
	}
address {
	font-family:Optima; font-size: 8pt; font-weight:bold
}
div ul {
	list-style-type:none;}
div li,
footer li {
	text-align:left;
	float:none;
	font-family:Optima;
	font-size:smaller;
	font-variant:bolder;
	margin-left:10px;
	text-decoration:none;
}
div a,
footer a {
	color:#336600;
}
footer {
	background-color:#FDFDF8;
	border:1px solid #337700;
	margin:15px;
	padding:15px 
}
img {
	float:right;
	padding-left:15px;
	padding-bottom:10px;
}
span {
	font-family:Optima;font-size:9pt; font-weight:lighter;
}
hr {
	color:#337700;
}